*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    /* height: 100dvh; */
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    width: 100%;
    height:100%; 
    /* height: 100dvh;  */
    min-height: 100vh; 
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
li{
    cursor: pointer;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem 0.5rem 1rem ;
    margin: 1rem 1rem 0rem 1rem ;
    border-radius: 7px;
    box-shadow: 0 2px 20px 4px #e7e1e1;
}

.logo{
    font-family:cursive;
}

.controltool{
    display: flex;
    gap: 1.3rem;
    list-style: none;
    font-weight: 100;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(72, 72, 72, 0.897);
    align-items: center;
    justify-content: center;
    background-color: rgba(243, 237, 237, 0.975);
    padding: 0.2rem .5rem;
    border-radius: 11px;
}

.controltool{
    cursor: pointer;
}

.controltool li:nth-child(3){
    font-size: 22px;
    font-weight: 600;
    color: rgba(203, 199, 199, 0.875);
    font-family:'Times New Roman', Times, serif;
}

.impExp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    padding: 0.5rem 1.4rem;
    border-radius: 12px;
    border: none;
    background-color: white;
    box-shadow: 0 0px 1.5px 1.5px rgb(236, 233, 233);
    cursor: pointer;
}

.btn i{
    font-size: 15px;
    cursor: pointer;

}

.btn label{
    font-size: 14px;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:600;
}

.btn:nth-child(1) {
    transition: transform 0.2s ease-in-out;
}

.btn:nth-child(2){
    background-color: rgba(70, 185, 238, 0.836);
    box-shadow: none;
    color: white;
    transition: transform 0.2s ease-in-out;
}

.btn:hover {
    transform: translatey(-5px);
    box-shadow: 0 0px 3px 2px rgb(180, 238, 255);
}


.workingPage{
    display: flex;
    margin: 1.5rem;
    /* gap: 3rem;   */
    /* width: calc(100% - 4rem);*/
    justify-content: space-between; 
}

.left{
    background-color: white;
    box-shadow: 0 0px 5px 2px rgb(236, 233, 233);
    /* margin: 1rem; */
    height: fit-content;
    margin-right: 1rem;
    flex-wrap: wrap;
    padding: 0.5rem 0.15rem;
    border-radius: 0.4rem 0rem 0.4rem 0;
}

.left ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 22px;
    font-weight: 600;
    font-family: cursive;
    
    gap: 1rem;
}

.left li{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: calc(90%);
    height: 2.5rem;
    padding: 0.2rem 0.9rem;
    justify-content: center;

}

.left li i{
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: center;
}


.left ul li:hover{
    background-color: rgba(230, 233, 237, 0.611);
    border-radius: 0.3rem;
    color: skyblue
    /* color: rgba(174, 213, 244, 0.741); */
}

/* .left ul i:active li:active{
    background-color: rgba(209, 227, 254, 0.577);
    border-radius: 0.3rem;
    color: rgba(14, 118, 198, 0.741);
} */

.left li.active {
  background-color: rgba(209, 227, 254, 0.577);
  border-radius: 0.3rem;
  color: rgba(14, 118, 198, 0.741);
}


.uniq{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.arr{
    rotate: calc(45deg);
}

/* ===============================
   CANVAS CONTAINER
================================ */

.centerCanvas {
  flex: 1;                     /* Take remaining space */
  display: flex;
  align-items: center;
  justify-content: center;

  background: radial-gradient();
  border-radius: 8px;
  height: 100% ;
  /* margin-bottom: 2rem; */
  box-shadow: 0 1px 25px 0px rgba(108, 151, 245, 0.344);

  /* box-shadow: 0 1px 30px 0px rgba(33, 161, 220, 0.3); */

}

/* ===============================
   CANVAS ELEMENT
================================ */

#canvas {
  width: 100%;                 /* CSS size */
  height: 100%;                
  max-width: 100%;
  max-height: 100%;

  background-color: #ffffff;
  border-radius: 6px;
  /* overflow: hidden; */

  cursor: crosshair;           /* Drawing cursor */
  touch-action: none;          /* IMPORTANT for mobile drawing */
  display: block;
}



.right{
    /* display: flex; */
    max-width: 17.5%;
    margin-left: 1rem;

}

.clrBox{
    background-color: white;
    box-shadow: 0 0px 5px 2px rgb(236, 233, 233);
    /* width: 60%; */
    padding: 1rem 1rem;
    border-radius: 0.4rem;
    /* height: 15rem; */
    /* display: flex; */
}

.clrs {
    margin: 0.5rem;
}

.clrHead{
    font-family:cursive;
    color: rgba(102, 103, 104, 0.695);
}

.diffClr{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.diffClr li {
    list-style: none;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.485);
}

.diffClr li.active{
    /* border: none; */
    animation: bounce 0.5s infinite alternate;
  /* The cubic-bezier function creates the bounce effect */
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5); 
}


@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0); 
  }
  to {
  transform: translateY(7px);
  }
}


.custClr{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.7rem;
    margin-left: 0.0rem;
    flex-wrap: wrap;

    justify-content: space-around;
}



.custClrSelect{
    width: 5.5rem;
    height: 2rem;
    border-radius: 0.5rem;
    padding: 0;
    border: none;
    cursor: pointer;
}



input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}

.custwdthSelect {
    -webkit-appearance: none;
    border: solid 1px #82CFD0;
    border-radius: 8px;
    max-width: 7rem;
    border: 2px solid rgb(146, 136, 136);
    /* accent-color: green;  */
}

.custwdthSelect::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 1px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  cursor: pointer; /* Cursor on hover */
  border-radius: 0.5rem;
}



/* 
.custwdthSelect::-webkit-slider-thumb {
    cursor: pointer;
    border: 2px solid #d1c2c2; 
} */





.widths ul{
    display: flex;
    align-items: center;
    padding: 1rem 0.3rem;
    justify-content: space-between;
    flex-wrap: wrap;

}

.widths ul li {
    list-style: none;
    /* border: 10px solid rgb(230, 45, 45); */
    background: rgb(16, 16, 16);
    border-radius: 50%;
    /* padding: 5px; */
    /* margin: 5px; */
}

.widths ul li.active {
    border: 3px solid rgb(249, 7, 7);
}
